#3dview_container {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    font-weight: bold;

    background-color: #fff;
    overflow: hidden;
    
}

#info {
    color:#00ffff;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;

}

a {
    color: red;
}

#reload_icon {
    color: blue;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
}

#reload_icon.clickable {
    cursor: pointer;
}

#fullscreen_icon {
    color: blue;
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

#location_info {
    display: none;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 300px;
}

.fullscreen {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding-top: 0;
    padding-left: 0;
    z-index: 5;
}

#3dview_container {
    overflow: hidden;
    padding-top: 10;
    padding-left: 10;
}

